<div class="card">
	<div class="card-header" id="headingOne">
		<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Favourite Lesson Plans
			</button>
		</h5>
	</div>
	<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="card-body">
			<ol id="olOne" class="spinner-border">
                test
			</ol>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-header" id="headingTwo">
		<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
				Favourite Teachers
			</button>
		</h5>
	</div>
	<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		<div class="card-body">
			<ol id="olTwo" class="spinner-border">
			</ol>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-header" id="headingThree">
		<h5 class="mb-0">
			<button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
				Active User
			</button>
		</h5>
	</div>
	<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		<div class="card-body">
			<ol id="olThree" class="spinner-border">
			</ol>
		</div>
	</div>
</div>